.parrafo{
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70%;
}

.img-normal {
    width: 180px;
}

.img-activa {
    width: 100%;
}


.responsivo{
    display: block;
}

.responsivo-peque{
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .responsivo {
        display: none;
    }
    .responsivo-peque{
        display: block;
    }
}

