.parrafo{
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 70%;
}

.img-normal {
    width: 180px;
}

.img-activa {
    width: 100%;
}


.responsivo{
    display: block;
}

.responsivo-peque{
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .responsivo {
        display: none;
    }
    .responsivo-peque{
        display: block;
    }
}


button{
    transition: background 0.5s;
}

.icon-app{
    border-radius: 20px;
    transition: background 0.5s;
    width: calc(100% - 2px);
    cursor: pointer;
}

.icon-app:hover{
    border-radius: 20px;
    background: #d8d8d8;;
}